@use "@/styles/theme";

.root {
  // Ensure sticky header & footer
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.main {
  // Centre the content
  margin: auto;

  ul {
    margin: 0;
    padding: 0 0 0 1.5rem;
  }

  li {
    padding: 0.25rem 0;
  }
}
