@use "theme";

html,
body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  overflow-x: hidden;

  background-color: theme.$light;
  color: theme.$primary-dark;

  font-family: theme.$body-font;
  font-weight: normal;
  font-size: theme.$font-15;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.05rem;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;

  font-family: theme.$title-font;
  font-weight: normal;
}

p,
li {
  margin: 0;
  padding: 0;

  line-height: 150%;
}
