@use "theme";
@use "m3";

html,
body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  overflow-x: hidden;

  background-color: theme.$surface;
  color: theme.$on-surface;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p,
li,
hr {
  margin: 0;
  padding: 0;
}

p,
li {
  line-height: 150%;
}

input,
hr {
  background: none;
  border: none;
  outline: none;
  font: inherit;
  padding: 0;
}

// Remove default link styling
a {
  text-decoration: none;
  color: theme.$on-surface;
}
