@use "@/styles/theme";

// The root object of the site, including header and footer
.root {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: theme.$surface-container;
}

// The root object of Layout
.main {
  display: flex;
  margin: theme.$medium-margin theme.$medium-margin theme.$medium-margin 0;
  width: 100%;
  height: inherit;

  background-color: theme.$surface;
  border-radius: 24px;

  ul {
    margin: 0;
    padding: 0 0 0 1.5rem;
  }

  li {
    padding: 0.25rem 0;
  }
}
