@use "@/styles/theme";

.container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  .content {
    display: flex;
    width: 80px;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    gap: 4px;
  }

  // Make footer ignore flex
  .footer {
    position: absolute;
    bottom: 0;
  }
}
