@use "@/styles/theme";
@use "@/styles/m3";
@import "material-symbols";

.listPane {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
  border-right: 1px solid theme.$outline-variant;

  .header {
    @include m3.headline-medium;
    display: flex;
    padding: theme.$medium-margin;
    flex-direction: column;
    align-items: flex-start;
    gap: theme.$compact-margin;
    align-self: stretch;
  }
}

.detailPane {
  display: flex;
  padding: 24px 24px 0px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  h1 {
    @include m3.headline-medium;
  }

  h2 {
    @include m3.headline-small;
  }
}
