@use "@/styles/theme";
@use "@/styles/m3";

// Common style
.bounds-filled,
.bounds-outlined,
.bounds-text,
.bounds-elevated,
.bounds-tonal,
.bounds-disabled {
  // UA override
  appearance: none;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  font: inherit;
  cursor: pointer;

  // Styling
  display: inline-flex;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: theme.$corner-full;

  .buttonArea {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: theme.$corner-full;

    .label {
      @include m3.label-large;
    }
  }
}

// Filled variant-specific style
.bounds-filled {
  background: theme.$primary;
  color: theme.$on-primary;

  // Highlight symbol area on bounds hover
  &:hover {
    @include m3.elevation-1;
    background: theme.$primary;

    .buttonArea {
      background: rgba(theme.$on-primary, 0.08);
    }
  }

  // Highlight symbol area on bounds focus
  &:focus,
  &:active {
    .buttonArea {
      background: rgba(theme.$on-primary, 0.12);
    }
  }
}

// Outlined variant-specific style
.bounds-outlined {
  color: theme.$primary;
  border: 1px solid theme.$outline;

  // Highlight symbol area on bounds hover
  &:hover {
    .buttonArea {
      background: rgba(theme.$primary, 0.08);
    }
  }

  &:focus {
    border: 1px solid theme.$primary;
  }

  // Highlight symbol area on bounds focus
  &:focus,
  &:active {
    .buttonArea {
      background: rgba(theme.$primary, 0.12);
    }
  }
}

.bounds-text {
  color: theme.$primary;

  .buttonArea {
    padding: 10px 12px;
  }

  // Highlight symbol area on bounds hover
  &:hover {
    .buttonArea {
      background: rgba(theme.$primary, 0.08);
    }
  }

  // Highlight symbol area on bounds focus
  &:focus,
  &:active {
    .buttonArea {
      background: rgba(theme.$primary, 0.12);
    }
  }
}

.bounds-elevated {
  @include m3.elevation-1;
  color: theme.$primary;

  // Highlight symbol area on bounds hover
  &:hover {
    @include m3.elevation-2;

    .buttonArea {
      background: rgba(theme.$on-primary, 0.08);
    }
  }

  // Highlight symbol area on bounds focus
  &:focus,
  &:active {
    @include m3.elevation-1;

    .buttonArea {
      background: rgba(theme.$on-primary, 0.12);
    }
  }
}

.bounds-tonal {
  background: theme.$secondary-container;
  color: theme.$on-secondary-container;

  // Highlight symbol area on bounds hover
  &:hover {
    @include m3.elevation-1;
    background: theme.$secondary-container;

    .buttonArea {
      background: rgba(theme.$on-secondary-container, 0.08);
    }
  }

  // Highlight symbol area on bounds focus
  &:focus,
  &:active {
    .buttonArea {
      background: rgba(theme.$on-secondary-container, 0.12);
    }
  }
}

.bounds-disabled {
  color: theme.$on-surface;
  opacity: 0.38;
  cursor: default;

  .buttonArea {
    background: rgba(theme.$on-surface, 0.12);
  }
}
